<form  (submit)="submit()" class="form-horizontal" >

    <h2>S'inscrire</h2>
    <div class="form-group">
      <label class="col-lg-2 control-label">Nom</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" [(ngModel)]="email" name="email">
      </div>
    </div>
  
    <div class="form-group">
      <label class="col-lg-2 control-label">Mot de passe</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" [(ngModel)]="password" name="password" >
      </div>
    </div>
    <div class="form-group">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">S'inscrire</button>
      </div>
    </div>
  
  </form>
