
<!-- Section Home -->
<section class="my-5">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/clubs/{{ getUri(club?.name).toLowerCase() }}/effectif">Détails du club</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/clubs/{{ getUri(club?.name).toLowerCase() }}/actualites">Actualités</a>
            </li>
        </ul>
        <div class="section-clubs-news">
            <h1>News : {{ club?.name }}</h1>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p class="infos-posts" *ngIf="articles.length <= 0"><i class="fas fa-exclamation-triangle"></i> Pas de d'articles pour {{ club?.name }}</p>
                <article *ngFor="let article of articles">
                    <div class="post-card-news">
                        <div class="row">
                            <div class="col-5">
                                <a [routerLink]="['/articles/', article?._id]">
                                    <img class="img-fluid" src="assets/images/{{article?.image}}" alt="{{ article?.titre | titlecase }}">
                                </a>
                            </div>
                            <div class="col-7">
                                <div class="col-md-12 post-content">
                                    <a routerLink="/{{article?.championnat.url}}/{{article?._id}}"><h2 class="post-title">{{ article?.titre | uppercase }}</h2></a>
                                    <p class="author">Publié le : {{ article?.dateCreation | date: 'dd/MM/yyy'}}, par {{ article?.autheur?.nom }}</p>
                                    <p class="post-desc" [innerHTML]="getExtract(article?.contenu)"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- <div class="col-md-5">
                <table class="table">
                    <thead class="thead-blue">
                        <tr>
                            <th>Date</th> 
                            <th colspan="5">Résultat</th> 
                        </tr>
                    </thead>
                    <tbody *ngFor="let standing of standingsList?.standings | slice:3">
                        <tr *ngFor="let s of standing?.table">
                            <td class="wsmall imp"></td>
                            <td class="date imp" colspan="5">28/05/2020</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
            <div class="col-md-5">
                <table class="table">
                    <thead class="thead-blue">
                        <tr>
                            <th>#</th> 
                            <th> </th> 
                            <th>Equipes</th>
                            <th><abbr title="Points">Pts</abbr></th>
                            <th><abbr title="Journée">J</abbr></th>
                            <th><abbr title="Victoires">V</abbr></th>
                            <th><abbr title="Nuls">N</abbr></th>
                            <th><abbr title="Défaites">D</abbr></th>
                            <th><abbr title="Différence">Dif</abbr></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let standing of standingsList?.standings">
                        <tr *ngFor="let s of standing?.table">
                            <td>{{ s?.position }}</td>
                            <td><img src="{{ s?.team?.crestUrl }}" alt="{{ s?.team?.name }}"></td>
                            <td>{{ s?.team?.name }}</td>
                            <td>{{ s?.points }}</td>
                            <td>{{ s?.playedGames }}</td>
                            <td>{{ s?.won }}</td>
                            <td>{{ s?.draw }}</td>
                            <td>{{ s?.lost }}</td>
                            <td>{{ s?.goalDifference }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- End Section Home -->