<footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #001d38;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="color-white mb-0">Suivez-nous sur les réseaux sociaux !</h6>
          </div>
          <div class="col-md-6 col-lg-7 text-center text-md-right">
              <a href="#" class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a href="#" class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>
              <a href="#" class="tw-ic">
                <i class="fab fa-instagram white-text mr-4"> </i>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
          <div class="col-md-3 col-lg-5 col-xl-6 mx-auto mb-4">
              <h6 class="color-white text-uppercase font-weight-bold">FootballNews</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p class="color-white">FootballNews est un site dédié à l'actualité du football. Retrouvez chaque jour les résultats des matchs de foot disputés dans tous les championnats européens : Ligue 1 - 2 Liga, Calcio... Analyse des équipes, commentaire des buts et scores, interview des joueurs et entraineurs de foot, c’est toute l'actualité du foot qui est décortiquée.
              </p>
          </div>
          <div class="col-md-4 col-lg-6 col-xl-4 mx-auto mb-4">
                <h6 class="color-white text-uppercase font-weight-bold">Dernières Actualités</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <div class="container">
                    <div class="row">
                      <div *ngFor="let article of articles | slice:0:3">
                        <a [routerLink]="['/articles/', article?._id]"><h2 class="post-title">{{ article?.titre | uppercase }}</h2></a>
                        <p class="author">Publié le : {{ article?.dateCreation | date: 'dd/MM/yyy'}}, par {{ article?.autheur.nom }}</p>
                      </div>
                    </div>
                </div>
          </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © FootballNews 2020 - Vous consultez la page : FootballNews : Info Transferts Football - Actu Foot Transfert
    </div>
</footer>
<!-- END Footer -->